.appHeader {
    .brand {
        text-decoration: none;
        color          : black;
    }

    .mr20px {
        margin-right: 20px;
    }


}

.appFooter {
    background-color: #f8f9fa;
    padding         : 5px;
    text-align      : center;
    font-weight     : 600;
}

.app-container {
    min-height: calc(100vh - 90px);

    .home {
        padding-top   : 20px;
        padding-bottom: 20px;
    }

    .users {

        .add-new,
        .sort-header {
            display        : flex;
            align-items    : center;
            justify-content: space-between;
        }

        .sort-header {

            i {
                cursor : pointer;
                padding: 0 2px;

                &:hover {
                    color: red;
                }
            }
        }

        .min-width {
            min-width: 120px;
        }

        .pagination {
            justify-content: center;
        }



    }

    .login-container {
        display       : flex;
        flex-direction: column;
        margin        : 0 auto;

        .title {
            text-align : center;
            font-size  : 23px;
            font-weight: 600;
            padding-top: 30px;
        }

        .text {
            font-weight   : 600;
            padding-bottom: 3px;
        }

        input {
            padding         : 12px 7px;
            outline         : none;
            border          : none;
            margin-bottom   : 7px;
            background-color: #1618230f;
            border-radius   : 3px;
            width           : 100%;

            &:hover {
                background-color: #dedede;
            }

        }

        .input-2 {
            position: relative;

            i {
                position: absolute;
                top     : 17px;
                right   : 10px;
                cursor  : pointer;
            }
        }

        button {
            margin-top   : 15px;
            padding      : 10px;
            border-radius: 3px;
            outline      : none;
            border       : none;

            &.active {
                background-color: #fe2c55;
                color           : white;
            }
        }

        button[disable=disable],
        button:disabled {
            cursor: not-allowed;
        }

        .back {
            text-align: center;
            margin-top: 30px;
            cursor    : pointer;

            a {
                text-decoration: none;
            }

        }

    }







}